/*
 * Основная форма контейнера
 */
#formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

#myForm {    
    width: 30%;   
    border-radius: 10px;    
}

/*
 * Заголовок формы
 */
#title {
    border-bottom: 1px solid gray;
    background: #d2caca;
    height: 30px;
    text-align: center;
    justify-content: center;
}

/*
 * Всплывающее окно
 */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 280px;
    height: 100px;
    background: #fff;
    z-index: 999;
    display: none;
    border: 1px solid gray;
    word-wrap: break-word;
    text-align: center;
}

/*
 * Стрелка у всплывающего окна
 */
.popover::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid gray;
    z-index: -1;
}

.popover::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: calc(50% - 9px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

/*
 * Кнопка
 */
button {
    margin-top: 15px;
    /*margin-left: 150px;
    display: inline-block;
    vertical-align: middle;*/
    display: block;
    text-align: center;    
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border-style: solid;
    width: 250px;
    height: 50px;
    background-color: #ff0000;
    color: #fff;
}



.form-control {
    position: relative;
    margin-bottom: 5px;
}

.form-error {
    position: absolute;
    padding: 5px 10px;
    width: 200px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #ff6347;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button:hover {
    background-color: #cc4a31;
}

#terms:checked+label::before {
    content: "\2713";
    /* ✓ */
    color: green;
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 0;
}

#terms+label {
    position: relative;
    padding-left: 25px;
}